<div class="article-list">
  {% for article in articles | reverse %}
    <div class="article-card">
      <h2><a href="{{ article.url | url }}">{{ article.data.title }}</a></h2>
      <div class="date">{{ article.data.date | date_to_datetime }}</div>
      <div class="excerpt">{{ article.data.description }}</div>
      <a href="{{ article.url | url }}" class="read-more">Read more</a>
    </div>
  {% endfor %}
  </div>