<style>
    .header {
        margin: 10px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
    }
    .header a {
        color: #fff;
    }
    .header a:hover {
        color: #ddd
    }
    .header a:active {
        color: #ccc 
        {# This isn't working? #}
    }
</style>

<p class="header" style="text-align: center"><strong><a href="/">Home</a> | <a href="/blog/">Blog</a> | <a href="/projects/">Projects</a> | <a href="/about/">About</a></strong></p>