---
layout: page
---

<style>
  .article {
    margin: 40px 0;
  }

  h1 {
    font-size: 2.5em;
    margin: 0 0 10px;
  }

  small {
    display: block;
    margin: 0 0 20px;
  }

  time {
    font-size: 0.8em;
    color: #222;
  }

  .category {
    display: inline-block;
    margin-left: 10px;
    padding: 2px 10px;
    background: #333;
    color: #fff;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
  }

  .category:hover {
    background: #666;
  }
</style>

  
<p style="text-align: left;">
  <a href="/blog/">&lt;-- Go Back</a>
</p>
<article class="article">
  <h1>{{ title }}</h1>
  <p>
    Published: <time>{{ date | date_to_datetime }}</time>
  </p>
  {{ content | safe }}
</article>