---
layout: page
---

<style>
  .article {
    margin: 40px 0;
  }

  h1 {
    font-size: 2.5em;
    margin: 0 0 10px;
  }

  .article-header {
    border-bottom: 2px dotted var(--color-text);
    margin-bottom: var(--spacing-sm);
  }

  .article-header p {
    margin-bottom: 0px
  }
</style>

<article class="article">
  <div class="article-header">
  <h1>{{ title }}</h1>
  <p>
    Published: <time>{{ date | date_to_datetime }}</time> 
    {% if tags.length > 0 %}
    <span class="tags">
      -- Tags: 
      {% for tag in tags %}
        <span class="tag"><a href="/blog/tagged/{{ tag }}/">{{ tag }}</a></span>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </span>
    {% endif %}
  </p>
  </div>
  {{ content | safe }}
</article>