<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Change your site title: (It is shown in the tab) -->
    <title>TITLE</title>

    <!-- Change your site description: (It is shown in Google results) -->
    <meta content="My personal website!" name="description" />

    <!-- Setting character encoding and viewport size. Do not remove. -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FavIcon (small image in tab), change to any image you want: -->
    <link href="favicon.ico" rel="icon" type="image/x-icon" />

    <!-- CSS: -->
    <!-- You will have to change this to "../style.css" if this HTML file is in a subfolder, to "../../style.css" if this HTML file is in 2 subfolders, etc. -->
    <link href="../css/unbeatableStyle.css" rel="stylesheet" />
    

    <script>
      // Template generated with petrapixel's layout generator.
      // (Please do not remove this credit.)
      console.log("%cTemplate generated with petrapixel's layout generator: https://petrapixel.neocities.org/coding/layout-generator", "font-size: 14pt; color: #922a45; background: #ffd3ef");
    </script>
  </head>
  <body>
    <!-- The next line is a skip-to-content link for keyboard users. Do not remove it! -->
    <a href="#content" id="skip-to-content-link">Skip to content</a>

    <div class="layout">
  
      <!-- =============================================== -->
      <!-- HEADER -->
      <!-- =============================================== -->

      <header>

        <div class="header-content">
	        <img src="textLogo.png" height="200"/>
        </div>
      </header>

	  
        
      <!-- =============================================== -->
      <!-- LEFT SIDEBAR -->
      <!-- =============================================== -->

            <aside class="left-sidebar">
	  
        
        <!-- NAVIGATION -->
        <nav>
          <div class="sidebar-title">Navigation</div>
          <ul>
            <li><a href="/unbeatable/">About the Band</a></li>
            <li><a href="/unbeatable/album">Album</a></li>
            <li><a href="/unbeatable/showtimes">Showtimes</a></li>
            <li><a href="/unbeatable/memorial">Memorial for Eve</a></li>
          </ul>
        </nav>
        
        <div class="sidebar-section unbeatable-members">
          <div class="sidebar-title">UNBEATABLE IS</div>
          <p>    <b>BEAT,</p>
          <p>        QUAVER.</p>
          <p>            TREBEL</p>
          <p>            </b>AND <b>CLEF</b>,</p>
          <p>                AND <b>REST</b></p>
        </div>
        
        {# <div class="sidebar-section">
          <div class="sidebar-title">Section Title</div>
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Necessit atibus perferendis inventore tempore vel optio similique blanditiis quasi quam?</p>
          </blockquote>
        </div>
        
        <div class="sidebar-section">
          <div class="sidebar-title">Section Title</div>
          <ul>
            <li>List</li>
            <li>List</li>
            <li><a href="/">List</a></li>
            <li>List</li>
          </ul>
        </div>
        
        <div class="sidebar-section">
          <div class="sidebar-title">Section Title</div>
          <marquee>
          	<a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/img/linkback.gif" alt="petrapixel"></a>
          	<a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/img/linkback.gif" alt="petrapixel"></a>
          	<a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/img/linkback.gif" alt="petrapixel"></a>
          	<a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/img/linkback.gif" alt="petrapixel"></a>
          </marquee>
        </div>
        
        <div class="sidebar-section">
          <div class="sidebar-title">Section Title</div>
          <img class="full-width-image" src="https://picsum.photos/id/16/1000/400">
        </div> #}
        
        <div class="sidebar-section">
          <div class="sidebar-title">88x31 Button</div>
          <div class="site-button">
            <img src="8831.png" alt="petrapixel" height="62">
          </div>
        </div>
      </aside>
	
      
  
      <main id="content"> <!-- Do NOT remove the ID here -->

        

        <!-- =============================================== -->
        <!-- MAIN CONTENT -->
        <!-- =============================================== -->


        <section>
            {{ content | safe }}
        </section>
      </main>


      <!-- =============================================== -->
      <!-- FOOTER -->
      <!-- =============================================== -->
  
    <!-- Closing .layout: -->
    </div>


    <!-- Add any additional Javascript code (<script></script>) here. -->
  </body>
</html>
