*{
    font-family: 'Inter', sans-serif;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 2px black; /* Add this line */
  }
  canvas {
    position: fixed;
    top: 0;
    left: 0;
  }
  body {
    margin: 0;
    background-color: #1d2225;
  }
  main {
    color: white;
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px auto;
  }
  h1 {
    font-size: 2cm;
    margin-bottom: 1cm;
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 1.7cm;
    }
  }
  @media (max-width: 400px) {
    h1 {
      font-size: 1.3cm;
    }
  }
  p {
    font-size: 30px;
    margin-top: -5px;
  }
  a:hover {
    color: #ddd;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .eightyeight {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    padding: 2px;
  }