---
layout: page
---

<h1>Placeholder About Page</h1>
<h2>About Colin Vandermeer</h2>
<p>They are the coolest person ever and if you are a hiring manager you should definitly give them all the jobs 😎</p>