---
layout: page
title: About Me :3
---

<script>
    const startDate = new Date(2007, 3, 8, 1, 0, 0, 0);

    function updateTime() {
        const currentDate = new Date();
        const timeDiff = currentDate - startDate;
        const years = Math.floor(timeDiff / (1000 * 60 * 60 * 24 * 365.25));
        const days = Math.floor(timeDiff / (1000 * 60 * 60 * 24)) % 365;
        const hours = Math.floor(timeDiff / (1000 * 60 * 60)) % 24;
        const minutes = Math.floor(timeDiff / (1000 * 60)) % 60;
        const seconds = Math.floor(timeDiff / 1000) % 60;
        timeSince = (`${years} year, ${days} day, ${hours} hour, ${minutes} minute, and ${seconds} second`);
        document.getElementById('time-since').textContent = timeSince;
    }

    setInterval(updateTime, 1000);
</script>

<h1>Placeholder About Page</h1>

<h2>About Me :3</h2>

<p>Hi i'm Colin Vandermeer (They/He). I'm a <span id="time-since"></span> old programmer.</p>
<p></p>

<p>Interests / Skills:</p>
<ul style="margin-top: -1.5rem; margin-bottom: 1.5rem;">
    <li>Building Cool Things</li>
    <li>File Compression</li>
</ul>

<p>Tech that I use:</p>
<ul style="margin-top: -1.5rem; margin-bottom: 1.5rem;">
    <li title="Ok so basically theres absolutely no cooling whatsoever on this thing. So while the 3.6ghz boost may *sound* nice, you're never going to actually hit it because it's going to thermal throttle itself after 10 seconds. The battery life is abysmal. There are only 3 ports on the computer. And 8gb of ram is simply not enough to run a modern graphical operating system. Linux has so many stuttering problems trying to switch things in and out of swap for me because the ram overflowed again. This is like if microsoft looked at a macbook, and then took all the parts that people don't like and created one laptop out of it.">Laptop: Surface Laptop Go <i>(Would not recommend)</i></li>
    <ul>
        <li>Intel i5-1035G1</li>
        <li>8GB RAM</li>
        <li>256GB SSD</li>
        <li>EndeavourOS (Arch Linux)</li>
        <li>Stock KDE Plasma</li>
    </ul>
    <li>Desktop: Custom Built</li>
    <ul>
        <li>AMD Ryzen 9 7900x</li>
        <li>RTX 4070 Ti <i>(They launched the 4070 Ti Super like a month after I bought mine 😭)</i></li>
        <li>64GB RAM</li>
        <li>1TB NVMe SSD</li>
        <li>8TB HDD</li>
        <li>Windows 10</li>
  </ul>