---
permalink: /index.html
---
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Colin VanderMeer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link type="text/css" rel="stylesheet" href="css/homepage.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>

	<canvas id="bg"></canvas>

	<main class="center" style="display: flex;">
		<div style="text-align: center;">
			<h1 style="margin-bottom: 0;">I'm Colin VanderMeer</h1>
			<div style="margin-bottom: 1cm;">
				<p><a href="/blog/">Blog</a> | <a href="/projects/">Projects</a> | <a href="/about/">About</a></p>
			</div>
			<a href="https://en.wikipedia.org/wiki/Non-binary_gender"> <img class="eightyeight" src="images/8831/nb_noproblem.png" height="62" alt="Non-Binary pride flag"/> </a>
			<img class="eightyeight" src="images/8831/any_browser.png" height="62" title="Though you will have issues on ladybird..." alt="&quot;Works on any browser&quot;"/>
			<a href="https://github.com/gorhill/uBlock"> <img class="eightyeight" src="images/8831/ublockorigin.png" height="62" alt="Godot Logo"/> </a>
			<a href="https://archlinux.org/"> <img class="eightyeight" src="images/8831/archlinux.gif" height="62" title="If it doesn't have the aur I don't run it on desktop" alt="Arch Linux logo"/> </a>
			<br>
			<a href="https://godotengine.org/"> <img class="eightyeight" src="images/8831/godot.png" height="62" alt="Godot Logo"/> </a>
			<a href="https://rockway.ca/feedbluebell"> <img class="eightyeight" src="images/8831/feedBluebell.png" height="62" alt="Feed Bluebell"/> </a>
			<a href="/feed.xml"> <img class="eightyeight" src="images/8831/rss8831.png" height="62" alt="Rss logo with text that says &quot;Get my blog rss feed&quot;"/> </a>
			<a href="https://github.com/ColinVanderMeer"> <img class="eightyeight" src="images/8831/github.png" height="62" alt="Github logo with text that says &quot;Check out my github&quot;"/> </a>
			<br>
			<a href="https://en.wikipedia.org/wiki/Right_to_repair"> <img class="eightyeight" src="images/8831/right_to_repair_01.png" height="62" alt="I support right to repair"/> </a>
			<a href="https://en.wikipedia.org/wiki/Illegal_number"> <img class="eightyeight" src="images/8831/aacs.png" height="62" title="Could magnet links be considered illegal numbers?" alt="AACS free speech"/> </a>
			<a href="https://www.stopkillinggames.com/"> <img class="eightyeight" src="images/8831/stopKillingGames.png" height="62" alt="Stop Killing Games"/> </a>
			<a href="https://www.11ty.dev/"> <img class="eightyeight" src="images/8831/made-with-11ty.png" height="62" alt="Made with 11ty"/> </a>
		</div>
	</main>
	<!-- Hide all content until three.js is ready to render -->
	<!-- Also done this way so that if js is disabled, it doesn't wait for three.js -->
	<script>
		document.querySelector('.center').style.display = "none";
		// Timeout for 5 seconds to ensure that if three.js breaks, the user still sees something
		// This isn't elegant, but it's for browsers that can't handle fancy js, so I can't use fancy js
		setTimeout(() => {
			document.querySelector('.center').style.display = "flex";
		}, 5000);
	</script> 

	<script type="module">

import { Renderer, Camera, Transform, GLTFLoader, Program } from 'ogl';

// 1. Setup Renderer & "Stupid Hack" for Pixelation
const pixelFactor = 5;
const renderer = new Renderer({ 
    canvas: document.querySelector('#bg'),
    alpha: false,
    dpr: 1
});
const gl = renderer.gl;
gl.clearColor(0.11, 0.13, 0.14, 1);

function resize() {
    renderer.setSize(window.innerWidth / pixelFactor, window.innerHeight / pixelFactor);
    gl.canvas.style.width = '100%';
    gl.canvas.style.height = '100%';
    gl.canvas.style.imageRendering = 'pixelated';
    
    if(camera) {
        const aspect = window.innerWidth / window.innerHeight;
        camera.orthographic({
            left: -aspect, right: aspect, top: 1, bottom: -1, zoom: 1 
        });
    }
}
window.addEventListener('resize', resize, false);

// 2. Setup Scene
const scene = new Transform();

// 3. Setup Camera
const camera = new Camera(gl, { near: 0.1, far: 100 });
camera.position.set(0, 2 * Math.tan(Math.PI / 6), 2);
camera.rotation.x = -Math.PI / 6;
resize();

// 4. The Tiny Shader (Replaces MeshBasicMaterial)
const vertex = /* glsl */ `
    attribute vec3 position;
    attribute vec2 uv;
    uniform mat4 modelViewMatrix;
    uniform mat4 projectionMatrix;
    varying vec2 vUv;
    void main() {
        vUv = uv;
        gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
    }
`;

const fragment = /* glsl */ `
    precision highp float;
    uniform sampler2D tMap;
    varying vec2 vUv;
    void main() {
        vec4 color = texture2D(tMap, vUv);
        if (color.a < 0.1) discard; 
        gl_FragColor = color;
    }
`;

// 5. Load the GLB (Fixed Syntax)
let aigisModel;

async function load() {
    // FIX: Use static method GLTFLoader.load, do NOT use 'new'
    const gltf = await GLTFLoader.load(gl, '3d/Aigis.glb');
    
    // OGL returns a scene graph (array of roots)
    const modelRoot = gltf.scene || gltf.scenes[0];
    
    // Wrapper to hold the model so we can rotate/move it easily
    aigisModel = new Transform();
    
    // Add all GLTF children to our wrapper
    modelRoot.forEach(child => child.setParent(aigisModel));

    // Recursively swap the heavy PBR shader for our tiny one
    function applySimpleShader(node) {
        if (node.program) {
            // Keep the texture found in the GLB
            const map = node.program.uniforms.tBaseColor 
                ? node.program.uniforms.tBaseColor.value 
                : (gltf.textures && gltf.textures.length ? gltf.textures[0] : null);

            node.program = new Program(gl, {
                vertex,
                fragment,
                uniforms: { tMap: { value: map } },
                cullFace: null // Disable culling (like side: DoubleSide)
            });
        }
        if (node.children) node.children.forEach(applySimpleShader);
    }
    
    // Apply shader to everything in the model
    aigisModel.children.forEach(applySimpleShader);

    // Set Initial Transforms
    aigisModel.position.set(0, -0.9, 0);
    aigisModel.scale.set(0.01, 0.01, 0.01);
    aigisModel.setParent(scene);

    // Show UI
    document.querySelector('#bg').style.backgroundColor = "gold";
    document.querySelector('.center').style.display = "flex";
    
    requestAnimationFrame(animate);
}

// 6. Animation Loop
function animate(t) {
    requestAnimationFrame(animate);
    const time = t * 0.001; 

    if (aigisModel) {
        // Simple animation
        aigisModel.position.y = -0.9 + Math.sin(time * 2) * 0.05;
        aigisModel.rotation.y = time;
    }

    renderer.render({ scene, camera });
}

load();

	</script>
</body>

</html>
