---
layout: page
---

<h1>Placeholder Projects Page</h1>
<h2>Feed bluebell</h2>
<p>This is a project I made at my school for our food waste reduction initiative. <a href="https://rockway.ca/feedbluebell">Click here to play</a>. <i>(Best played on a touchscreen device)</i></p>